.footer {
    background: var(--element);
    padding: 70px 0 30px;
    margin-top: 80px;
    border-top: 2px solid var(--bg-second);
        overflow: hidden;
}


.footer-logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    
}


.footer-text {
    color: white;
    line-height: 1.7;
    max-width: 320px;
      
}


.footer-title {
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 20px;
       
}
.footer-title2 {
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 20px;
     margin-left: 14% !important;     
}


.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 12px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    color: white;
}

.footer-social {

    display: flex;
    gap: 15px;
  

}

.footer-social a {

    width: 45px;
    height: 45px;
    background: #1f2937;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
    transition: 0.3s;
    text-decoration: none !important;
    
}

.footer-social a:hover {
    background: var(--bg-second);
    transform: translateY(-3px);
        
}


.footer-bottom {

    border-top: 1px solid var(--bg-second) !important;
    margin-top: 50px;
    padding-top: 25px;
    text-align: center;
        
}

.footer-bottom p {
    color: #9ca3af;
    margin: 0;
        
}

.img_footer {
   
    width: 80% !important;
}
