*{

     margin: 0;
     padding: 0;
     box-sizing: border-box;
}


:root{

    --bg: #242424 !important;
    --bg-second: #9fb2e9 !important;
    --element: #6d59ad !important;

}

body{

  background-color: var(--bg) ;

}

header{

    display: flex;
    justify-content: center;

}
.header_logo{

    /* height: 50px; */
    /* width: 300px; */
    background: var(--element);
    /* display: flex;
    justify-content: space-between;
    justify-items: center; */
    /* border-radius: 150px; */
    box-shadow: 0 4px 15px rgba(0,0,0,0.8);
    /* margin-left: 10px; */
    position:fixed;
    z-index: 9999;

}

.hero01{

    margin-top: 93px;
    width: 100%;

}
.container {
    
  position: relative;
  text-align: center;
  color: white;

}
.title_hero{
    
position: absolute;
top: 50%;
left: 9%;
text-align: center;



}

.hero_box{

position: absolute;
top: 50%;
left: 9%;
color: white;
background-color: rgba(0, 0, 0, 0.3);

}


.header_burguer{

  width: 50px ;

}

.hero_btn{
 
  border: none;
  background-color: var(--element);
  text-decoration: none;
  border-radius: 30px;
  width: 80px;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 15px rgba(0,0,0,0.10);


}




