*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.zz{

  width: 100%;
  height: 100%;
  


}

.baixo{

  background-color: var(--bg-second);
  overflow: hidden;

}
.display_instru{
  

flex-wrap: wrap !important;

}


.img_instru{

width: 80%;

}

.box_instru{

  background-color: var(--element);
  width: 60%;
  height: 200px;
  border-radius: 100%;
  transition: transform 0.4s ease-out; 

}

.borda_instru{

    margin-top: 5px; 
    margin-left: -3px;
    width: 103%;
    height: 95%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.violao{

  border: 4px solid #FFB000;

}
.piano{

  border: 4px solid #FFF3EB;

}
.trompete{
  
  border: 4px solid  #C17A0A;

}
.guitarra{
  
  border: 4px solid  #4C2C7F;

}.harpa{
  
  border: 4px solid  #FFFC00;

}.bateria{
  
  border: 4x solid  #EB3346;

}.violino{
  
  border: 4px solid  #FF751F;

}.teclado{
  
  border: 4px solid  #0CC0DF;

}

.testes{

  background-color: var(--element) !important;
  border-radius: 30px;
  
}
body{

 
}