/* The sidepanel menu */

.sidepanel {
  height: 700px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #6d59ad; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
 
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border: 3px black;
  box-shadow: 0 4px 15px rgba(0,0,0,0.8);


}

/* The sidepanel links */
.sidepanel a {

  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;

}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  
  position: static;
  top: 0;
  font-size: 50px;
  /* margin-left: 50px; */
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  

  font-size: 20px;
  cursor: pointer;
  background-color: #6d59ad;
  border-radius: 30px;
  color: white;
  /* width: 45px;
  height: 0;
  border: none;
  margin-top: 22px; */
  /* height: 20px;
  width: 25px;*/
  border: none;
  margin-right: 70px;
 

}

.linha{

 border: 3px solid #9fb2e9;
 opacity: 100%;



}

.login_icon{

width: 55px;

}







/* .openbtn:hover {
  background-color: #444;
} */